.btn-choice {
    height: 2rem;
    width: 12rem;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-bottom: 2px;
    cursor: pointer;
    outline: none;
    border: none;
    color:#ffffff;
    background: #94bbe9;
    background: linear-gradient(90deg, #94bbe9 0%, #eeaeca 100%);
    transition: .5s;
}

.btn-choice:hover {
    opacity: .7;
}

.btn-choice:target {
    border: 2px solid white;
}

@media (min-width: 700px) {
    .btn-choice {
        height: 2.1rem;
        width: 14rem;
       
        font-size: 1.1rem;
        margin-left: 25px;
    }
}