.titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    text-decoration: underline #eeaeca;
    margin: 15px 0 0 0;
}

.nomes {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 0 0 20px 0;
}

@media (min-width: 700px) {
    .titulo {
        font-size: 1.8rem;
    }

    .nomes {
        font-size: 1.1rem;
    }
}