@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-size: 60%;
    background: #f7e0f7;
}   

.container-tudo {
    display: block;
    justify-content: center;
    text-align: center;
}

.titulo {
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline #8f4b8f;
}

.nomes {
    font-size: 2.3rem;
    font-family: 'Montserrat', sans-serif;
    margin: 2%;
}

@media (min-width: 600px) {
    .container-figureMessage {
        display: flex;
        justify-content: space-around;
    }

    .titulo {
        font-size: 4.5rem;
    }

    .nomes {
        font-size: 3rem;
    }
}